<div class="container">
  <div class="row show-row">
    <div class="col-5 show-containers">
      <h2></h2>
    </div>
    <div class="col-5 show-containers">
      <h2>Student name: [Student Name]</h2>
      <h1>Group</h1>
    </div>
  </div>
</div>
