<h1>Groups#index</h1>
<p>Find me in app/views/groups/index.html.erb</p>

<table>
  <tr>
    <th>Student</th>
    <th>On Time</th>
    <th>Less Than 5mins Late</th>
    <th>Greater Than 5mins Late</th>
    <th>Authorised Absence</th>
    <th>AWOL</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>20%</td>
    <td>20%</td>
    <td>20%</td>
    <td>20%</td>
    <td>20%</td>
  </tr>
</table>
