<h1 class="headings">Groups</h1>

  <div class="container">
    <div class="row">
      <% @groups.each do |group| %>
      <div class="col-md-4">
        <div class="group-card">
          <h2><%= link_to "#{group.name}", group %></h2>
          <ul class="list-group list-group-flush">
            <li class="list-group-item group-card-info">Stream: <%= group.stream %></li>
            <li class="list-group-item group-card-info">Start Date: <%= group.startdate %></li>
            <li class="list-group-item group-card-info">End Date: <%= group.enddate %></li>
          </ul>
        </div>
      </div>
      <% end %>
    </div>
  </div>
