/* green = on time, blue = < 5, yellow = > 5, purple = auth, red = unaut */

.on_time {
  background-color: green;
}

.less_than_five {
  background-color: blue;
}

.more_than_five {
  background-color: yellow;
}

.auth {
  background-color: purple;
}

.unauth {
  background-color: red;
}
