body {
  background-color: #fafafa;
  margin-bottom: 100px;
}

h1 {
  margin-top: 15px;
  text-align: center;
}

.group-card {
  border: 2px #7C7C7C solid;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}

.group-card-info {
  background: #fafafa;
}

.new_group_button {
  display: block;
  margin: 20px auto;
  width: 250px;
}

.group-container {
  margin-top: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.group-container ul{
  padding-left: 0;
}

.group-container ul li{
  list-style: none;
}

.dropdown_links {
  color: rgba(255,255,255,.5);
  margin-left: 10%;
}

.dropdown_links:hover {
  color: white;
  text-decoration: none;
}

.footer-fixed {
  bottom: 0;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.active-group{
  box-shadow: 10px 10px 10px green;
}

.active-group:hover ,
.inactive-group:hover {
  position: relative;
  top: -10px;
}

.inactive-group{
  box-shadow: 10px 10px 10px red;
  opacity: 0.7;
}

.btn-new {
  padding-top: 20px;
  padding-bottom: 100px;
}

.key {
  border-radius: 3px;
  display: inline;
  float: right;
  margin: 5px;
}

.buttons-sort {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 15px;
}

.attend_group {
  margin-bottom: 25px;
}

.attend_group li{
  list-style: none;
}

.link_style {
  color: black;
  text-decoration: none !important;
}

.notice {
  text-align: center;
}

.verticalLine {
  border-left: 2px solid #FCFCFC;
  margin-left: 5px;
  padding-right: 10px;
}

.footer-link {
  color: rgba(255,255,255,.5);
}

.footer-link:hover {
  color: white;
  text-decoration: none;
}

.message-info {
  max-width: 450px;
  text-align: left;
}

.message {
  margin-left: -35px;
}

.att-form {
  padding-top: 50px;
}

.cocktailShakerBin img {
  width: 20px;
  height: 20px;
  display: none;
  float: right;
}
