body {
  background: #fafafa;
}

h1 {
  text-align: center;
  margin-top: 15px;
}

.group-card {
  border: 2px #7C7C7C solid;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}

.group-card-info {
  background: #fafafa;
}

.new_group_button {
  display: block;
  margin: 20px auto;
  width: 250px;
}
.group-container {
  border: 2px #7C7C7C solid;
  border-radius: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
}

.dropdown_links {
  color: rgba(255,255,255,.5);
  margin-left: 10%;
}

.dropdown_links:hover {
  color: white;
  text-decoration: none;
}

.footer-fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.active{
  box-shadow: 10px 10px 10px green;
}

.active:hover ,
.inactive:hover {
  position: relative;
  top: -10px;
}

.inactive{
  box-shadow: 10px 10px 10px red;
}

.btn-new {
  padding-bottom: 100px;
}
