// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-h1 {
  text-align: center;
  margin-top: 15px; // Margin between heading and navbar.
}

.list-table {
}

.active1 {
  color: green;
}

.inactive1 {
  color: darkgrey;
}

.show-containers {
  margin: auto;
  margin-top: 50px;
  height: 200px;
}

.show-profile {
  border-radius: 50%;
}

.show-attendance {
  margin-top: 50px;
  height: 500px;
  background-color: lightgrey;
}

.actions-list {
  margin: 20px 0;
}

.page-item {
  box-shadow: none;
  z-index: 0;
}

// Media query for Student details on show view.
@media screen and (max-width: 770px) {
  h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 510px) {
  h1 {
    font-size: 25px;
  }
}
