// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-h1 {
  text-align: center;
  margin-top: 15px; // Margin between heading and navbar.
}

.list-table {
}

.show-row {
  margin-bottom: 10px;
}

.show-containers {
  margin: 25px auto;
  display: block;
}

.show-containers table {
  float: right;
}

.show-containers table td {
  padding: 1px;
  padding-left: 15px;
}

.show-profile{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.show-active {
  float: center;
  margin: auto;
  margin-bottom: 10px;
}

.show-attendance {
  margin-top: 50px;
  height: 500px;
  background-color: lightgrey;
}

.actions-list {
  text-align: center;
}

.page-item {
  box-shadow: none;
  z-index: 0;
}

// Media query for Student details on show view.
@media screen and (max-width: 770px) {
  h1 {
    font-size: 30px;
  }

  .show-containers{
    text-align: center;
  }

  .show-containers table {
    float: none;
    margin: auto;
  }
}

@media screen and (max-width: 510px) {
  h1 {
    font-size: 25px;
  }
}

.hoverBin:hover {
  .cocktailShakerBin img{
    display: inline;
  }
}
