  <form id="myForm" action="/attendances/new" method="get">
      <select name="group">
        <% @groups.each do |group| %>
        <option value="<%= group.id %>"><%= group.name %></option>
        <% end %>
      </select>
    <input type="date" name="date" value="" />
    <button type="submit">Submit</button>
  </form>
