
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Action <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <% @groups.each do |group| %>
      <li><%= link_to "#{group.name}", new_attendance_path %></li>
      <% $id = group.id %>
      <% end %>
    </ul>
  </div>

  <form id="myForm" action="/attendances/new" method="get">
    <input type="date" name="date" value="" />
    <button type="submit">Submit</button>
  </form>
