<h1>Add New Attendances</h1>

<!-- set the current date -->
<script type="text/javascript">
  var date = new Date();

  var day = date.getDate();
  var month = date.getMonth() + 1;
  var year = date.getFullYear();

  if (month < 10) month = "0" + month;
  if (day < 10) day = "0" + day;

  var today = year + "-" + month + "-" + day;
  $("#theDate").attr("value", today);
</script>

<center>
  <form id="myForm" action="/attendances/new" method="get" class="form att-form">
    <div class="field att_field select">
      <select name="group">
        <% @groups.each do |group| %>
        <% if group.active == true %>
          <option value="<%= group.id %>"><%= group.name %></option>
        <% end %>
        <% end %>
      </select>
    </div>
    <div class="field att_field nameInput">
      <input id="theDate" type="date" name="date" value="" />
    </div>
    <div class="action_button att_field">
      <button type="submit">Next</button>
    </div>
  </form>
</center>
