<%= form_for group do |g| %>

  <div class="field">
    <%= g.label :Active %>
    <div class="select">
      <%= g.select(:name, Attendance::GROUP_LIST)%>
    </div>
  </div>
  <br>
  <div class="field">
    <div class="button">
      <%= g.submit  %>
    </div>
  </div>
</div>
</center>
