<nav class="navbar navbar-dark bg-dark footer-fixed">
  <span class="navbar-brand">Attendance Application <small>&copy; Sparta Global</small></span>
  <a href="#headers" class="footer-link">Back To Top</a>
</nav>
